<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{with .Site.LanguageCode}} xml:lang="{{.}}" lang="{{.}}" {{end}}>

{{ partial "head.html" . }}

<body  class = "{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
<div class = "main">
    {{ partial "sidebar.html" . }} 
    {{ block "main" . -}}{{- end }} 
    {{ template "_internal/google_analytics_async.html" . }}
</div>
</body>
<div class = "main-chatbot">
    {{ partial "chatbot.html" . }}
</div>

<script data-cfasync="false" type="text/javascript"
src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
</html>

