{{ define "main" -}}

<ul class="posts">
  <h1> Iniciativas Recibidas</h1>
  {{ range .Data.Pages -}}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>

    </h2>
    <!-- {{ if .Params.propone }}
    <span class="post-date">  propone {{ .Params.propone }}</span>
    {{ end }} -->
    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
  </div>
  {{- end }}
</ul>
{{- end }}
