{ define "main" -}}
<div class="headings">
    <h1 class="big-text"> Videos e historias que hemos encontrado.</h1>
      <p class="contexts"> Propuestas</p>

</div>
<!-- contenido de los post -->

<h2> 

Fondo Iniciativas 19 
¿Te gustaría mejorar tu iniciativa? 
El fondo Iniciativas 19 es un monto económico para los proyectos que busquen mejorar su funcionamiento para replicarse en situaciones de emergencia desarrollo a mediano y largo plazo. 

El jurado del fondo #Iniciativas19 está integrado por un grupo de periodistas, activistas, personas expertas en derechos humanos o que generan nuevos canales de comunicación y de participación ciudadana. 

Regístrate para obtener este fondo.
</h2>


