
// solo cosas del chatbot

$cf-color-white: #fcfdf3
$cf-color-black: black
$cf-color-red  : #f92648
$fonts         : 'Work Sans', 'Helvetica', sans-serif, helvetica

#form 
    visibility: hidden

.conversational-forms
    font-family: $fonts
    background : $cf-color-red

.chatbot
    #cf-form 
        position: fixed
        bottom  : 2.5em
        right   : 0
        width   : 300px
        z-index : 20
        @media (min-width: 48em)
            width: 600px
            right: 1em
    
    button
        border-radius: 0px
        width        : auto
        padding      : 1em 1em
        color        : $cf-color-white
        position     : fixed
        bottom       : -1px
        right        : 0
        justify-self : flex-end
        background   : $cf-color-red
        @media (min-width: 48em)
            right : 1em

#conversational-form
    border-radius: 0px
    box-shadow : 0 5px 15px rgba(0, 0, 0, 0.3)
    font-family: $fonts
    background : $cf-color-white
    &:before
        border-top: 2px solid $cf-color-red
        background: none

// animations

.slide-fade-enter-active 
    transition: all .3s ease

.slide-fade-leave-active 
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
    transform: translateX(10px)
    opacity: 0
