/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 *
 */
 

$color-white: #FCFDF3;
$color-red: #F92648;

.logos {
    width        : 5rem;
    margin-bottom: 1em;

    @media (min-width: 48rem) {
        padding-top: 1em;
        grid-column: 2/4;
        grid-row   : 1;
        margin-left: none;

    }
}



.logos img {
    max-width         : 5rem;
    @media (min-width : 24em) {
        max-width: 6rem;
    }
}

.sidebar {
    padding          : .6rem 1rem;
    color            : $color-white;
    background-color : #F92648;

    text-align       : left;
    height           : 2.55em;
    overflow         : hidden;
    transition       : all .5s, grid-template-columns .5s cubic-bezier(.46, .03, .52, .96);
}

.sidebar:hover,
.sidebar:active,
.sidebar:focus {
    height: 15em;
    padding-bottom: 2em;
}

@media (min-width: 48em) {
    .sidebar {
        height                 : 3em;
        padding                : 0;
        grid-column            : 1 /-1;
        grid-row               : 1;
        /* css grids inside */
        display                : grid;
        grid-gap               : 20px;
        align-items            : flex-start;
        justify-content        : flex-start;
        grid-template-columns  : 2fr repeat(8, 1fr);
        grid-template-rows     : 3rem auto;
        }
    .sidebar:hover,
    .sidebar:active,
    .sidebar:focus {
        height: 25vh;
    }

}


/* Sidebar links */

.sidebar a {
    color     : $color-white;
    font-size : .8em;

}

.sidebar a:hover {
    color: #F8F8F8;
}


/* About section */

.sidebar-about h1 {
    color      : #fff;
    margin-top : 0;
    font-size  : 2.25rem;
}

.sidebar-about h3 {
    color      : #fff;
    margin-top : 0;
    font-size  : 1.5rem;
}


/* Sidebar nav */

.sidebar-nav {
    padding-left: 0;
    list-style: none;
}

.sidebar-nav-item {
    display: block;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}


/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

.sidebar-sticky a:hover {
}

@media (min-width: 48em) {
    .sidebar-sticky {
        grid-column: 4 / 6;
        grid-row: 2;
    }
}


/*sidebar*/

.lead {
    padding-top: .3rem;
    grid-column: 2 /4;
    grid-row: 2;
    font-size: .8em;
}

.hide-me {
    visibility : hidden;
    opacity    : 0;
    transition : opacity 0.5s, visibility 1s cubic-bezier(.46, .03, .52, .96);
    }

.sidebar:hover .hide-me,
.sidebar:focus .hide-me {
    visibility : visible;
    opacity    : 1;
    transition : opacity 0.5s, visibility 1s cubic-bezier(.46, .03, .52, .96);
    }

.hamburguer {
    position: absolute;
    right: 2em;
    top: .6em;

    @media (min-width: 48em) {

        position     : inherit;
        grid-column  : -3;
        align-self   : center;
        justify-self : center;

    }
}
