<!-- work in progres -->

<div class = "chatbot" id = "chatbot" >
<transition name="slide-fade">

    <div cf-context
      id="cf-form" v-show="seen">
            <form
              cf-form
              id="gform"
              action="https://script.google.com/macros/s/AKfycbwe467S-ZTXv7t_2OocuJ1rL7CBDroc-lVp5kpsgVGZbaASYoQ/exec"
              method="POST"
              >
                <!-- Tipo de formulario   -->
                <!-- Nombres -->
                <div>
                    <label for="firstname">
                        Hola! Gracias por tu interés en Iniciativas 19. Dinos como te llamas
                    </label>
                    <input
                       type="text"
                       cf-questions="¡Hola!&& Gracias por visitar Iniciativas 19&&¿Cuál es tu nombre?"
                       name="firstname"
                       id="firstname"
                       cf-input-placeholder="Tu primer nombre aqui">
                </div>
                <div>
                    <label for="lastname">
                        ¿Cómo te appellidas?
                    </label>
                    <input
                       type="text"
                       cf-questions="¡Genial!  && ¿como te apellidas {firstname}?"
                       cf-input-placeholder="Tu primer nombre aqui"
                       name="lastname"
                       id="lastname" 
                       cf-input-placeholder="pueden ser uno o dos apellidos">
                </div>
                <div
                  cf-questions="Ahora escoge una opción. || ¿Qué operacion deseas realizar, {firstname} ?"
                  cf-input-placeholder="Si aún no conoces el fondo o el espacio de trabajo, sigue la
                  liga en el menu superior.">

                    <input type="radio" name="multi-1" value="a" id="multi-1-a">
                    <label for="multi-1-a">
                       Recomienda una Iniciativa
                    </label>
                  <!-- 
                    <input type="radio" name="multi-1" value="b"
                    id="multi-1-b" onclick="location.href='iniciativas19.labcd.mx/fondo'">
                    <label for="multi-1-b">
                       Participa por el Fondo Iniciativas 19
                    </label>
                    
                    <input type="radio" name="multi-1" value="c" id="multi-1-c"
                    @click="location.href='iniciativas19.labcd.mx/fondo'">
                    <label for="multi-1-c">
                        Participa por un espacio de trabajo gratis
                    </label>   --->
                </div>
                <!--🚨  path a 🚨 -->
                <div>
                    <input 
                        cf-questions="Perfecto && ¿Cuál es tu correo electrónico, {firstname}?" 
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                        cf-error="Esto no parece ser un correo electrónico 🤔 ."
                        type="e-mail" id="email" name="email" 
                        cf-input-placeholder="Usaremos este correo para compartirte actualizaciones"
                        cf-conditional-multi-1="a">
                </div>
                <div>
                    <label for="iniciativa">
                        Nombre de la iniciativa
                    </label>
                    <input 
                       type="text"
                       name="iniciativa"
                       id="iniciativa"
                       cf-questions=" Perfecto && ¿Cómo se llama la Iniciativa?"
                       cf-input-placeholder=""
                       cf-conditional-multi-1="a">
                </div>
                <div
                    cf-questions="¿{iniciativa}? && ¿Dónde podemos encontralos?" 
                    cf-input-placeholder="Selecciona la red por la que conociste a la iniciativa"
                    cf-conditional-multi-1="a">
                    < input type="radio" name="red" value="face"> Facebook</option>
                    < input type="radio" name="red" value="twitter"> twitter</option>
                    < input type="radio" name="red" value="insta"> instagram</option>
                </div>
                <div>
                    <label for="contacto">
                        Cual es el contacto de la iniciativa
                    </label>
                    <input
                       type="text"
                       name="contacto"
                       id="contacto"
                       cf-questions="¿y cual es?"
                       cf-input-placeholder="Escribelo como tu lo conozocas. nosotros los buscamos"
                       cf-conditional-multi-1="a">
                </div>
                <div>
                  <input este es el final type="submit" value="aprieta el botton" >Enviar</input>
                </div>
                <!--🚨  path b 🚨 -->
          </form>
       </div>
    </transition>

    <button v-if='seen' class="boxshadow" v-on:click="createChatbot();">
        <i class="fa fa-times "></i>
        Regresa al sitio
    </button>

    <button v-else
        class = "boxshadow" 
        v-on:click = "seen = !seen">
        Realiza tu propuesta!
    </button>

    </div>

<script> 



    // Script para hacer aparecer el archivo con VUE JS
    var app = new Vue({
        el  : '#chatbot',
        data: {
            seen: true
        }
    })

    function createChatbot(){
        app.seen = !app.seen; 
    }


    // timer

    
</script>
