{{ define "main" -}}

<div class="headings">
  <h1 class="big-text"> Ciudadanía creativa y resiliente </h1>
    <p class="contexts"> Historia</p>
</div>
<div class="hero">
  <img src="{{ .Site.BaseURL }}img/index.jpg" alt="">
</div>

<div class="container-2 content">
<h2> <span class="red">#Iniciativas19</span> es una plataforma que visibiliza el actuar de la sociedad civil ante el sismo ocurrido en la Ciudad de México el 19 de septiembre de 2017. Durante la emergencia, la ciudadanía creó y gestionó varias iniciativas en distintos rubros, mismas que tendieron puentes y buscaron dar una respuesta rápida y concisa a las necesidades que surgieron en la ciudad. Conocer, fortalecer y sumarnos a estos esfuerzos permite pensar en nuevos modelos que contribuyan a la generación de una CDMX más resiliente. </h2>
<br>
<h2>
<span class="red">#Iniciativas19</span> es parte de <a>Ciudad Resiliente: Programa Post S19 del Laboratorio para la Ciudad</a>.
</h2>
</div>
{{- end }}
