{{ define "main" -}}
<div class="headings">
  <h1 class="big-text"> shit</h1>
</div>
<ul class="posts container content">
  {{ range .Data.Pages -}}
  <div class="post">
    <h2 class="post-title">
      <!-- iconitos y mamadas -->
      {{ if .Params.twitter}}
      <a href="http://www.twitter.com/{{ .Params.twitter }}">
        <i class="fa fa-twitter"></i>
      </a>
      {{ end }}
      {{ if .Params.sitio}}
      <a href="http://{{ .Params.sitio }}">
        <i class="fa fa-globe"></i>
      </a>
      {{ end }}
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>
    <!-- {{ if .Params.propone }}
    <span class="post-date">  propone {{ .Params.propone }}</span>
    {{ end }} -->


    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
  </div>
  {{- end }}
</ul>
{{- end }}
