{{ define "main" -}}
<div class="headings">
  <h1 class="big-text"> Estas son las iniciativas que hemos recibido hasta el momento.</h1>
  <p class="contexts"> Propuestas</p>

</div>
<!-- contenido de los post -->
<ul class="posts container content">
  <!--  ciclo for que llena los posts-->
  {{ range .Data.Pages -}}
  <div class="post">
    <h2 class="post-title">
      <!--
      🚨 Revisa si hay links a contactos, cuales, y como los agrega como iconos al principio del post.🚨
      -->
      {{ if .Params.facebook}}
      <a href="http://{{ .Params.facebook }}">
        <i class="fa fa-facebook"></i>
      </a>
      {{ end }}
      {{ if .Params.twitter}}
      <a href="http://www.twitter.com/{{ .Params.twitter }}">
        <i class="fa fa-twitter"></i>
      </a>
      {{ end }}
      {{ if .Params.sitio}}
      <a href="http://{{ .Params.sitio }}">
        <i class="fa fa-globe"></i>
      </a>
      {{ end }}
      {{ if .Params.correo}}
        <a href="{{ .Params.correo }}">
          <i class="fa fa-envelope" ></i>
        </a>
      {{ end }}
      {{ if .Params.telefono}}
        <a href="tel:{{ .Params.telefono }}">
          <i class="fa fa-phone" ></i>
        </a>
      {{ end }}
      <!-- titulo del proyecto -->
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>

    {{ .Summary }}
    {{ if .Truncated }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
  </div>
  {{- end }}
</ul>
{{- end }}
