{{ define "main" -}}
<div class="headings">
    <h1 class="big-text"> Te compartimos algunas de las iniciativas que se generaron durante la emergencia del 19S.
    </h1>
    <p>Contribuye a esta lista:
        <a href="mailto:iniciativas19@labcd.mx"> iniciativas19@labcd.mx </a>
    </p>
</div>
<!-- contenido de los post -->
<ul class="posts container content">
    <!--  ciclo for que llena los posts-->
    {{ range .Data.Pages -}}
    <div class="contexts"></div>

    <div class="post ">

        <h2 class="post-title">
            <!--
      🚨 Revisa si hay links a contactos, cuales, y como los agrega como iconos al principio del post.🚨
      -->
               <!-- titulo del proyecto -->
            <a href="{{ .Permalink }}">
            {{ .Title }}
            </a>
        </h2>
        <p>
          {{ partial "icono-contacto.html" . }}
        </p>
          <!--
          <p> {{ .Summary }}</p>
-->
        {{ if .Truncated }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }}
    </div>

    {{- end }}
</ul>
{{- end }}
